################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/WebProvisioningTemplate/v14
/WebProvisioningTemplate.Console/bin/Debug
/WebProvisioningTemplate.Console/obj/Debug
